# Spring Configuration
spring:
   application:
      name: ajax-practices
   profiles:
      active: development # main

---
# Development Configuration
spring:
   config:
      activate:
         on-profile: devleopment

   devtools:
      restart:
         enabled: true
      livereload:
         enabled: true

server:
   port: 8080

logging:
   pattern:
      console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"
   level:
      root: info

---
# Production Configuration
spring:
   config:
      activate:
         on-profile: production

server:
   port: 80

logging:
   pattern:
      file: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"
   logback:
      rollingpolicy:
         file-name-pattern: "logs/${spring.application.name}.%d{yyyy-MM-dd}.%i.log.zip"
         max-file-size: 10MB
         max-history: 10
   file:
      name: logs/${spring.application.name}.log
   level:
      com:
         bit2025:
            ajax:
               exception: ERROR

---
# Common Configuration
spring:
   mvc:
      static-path-pattern: /assets/**

   web:
      resources:
         static-locations: [classpath:assets/, file:/ajax-practices-uploads]

   servlet:
      multipart:
         enabled: true
         max-file-size: 10485760
         max-request-size: 104857600
         file-size-threshold: 5242880

server:
   servlet:
      context-path: /
   error:
      whitelabel:
         enabled: false
      path: /error