# Spring Configuration
spring:
   application:
      name: tabbox-backend
   profiles:
      active: development # main

---
# Development Configuration
spring:
   config:
      activate:
         on-profile: devleopment

   devtools:
      restart:
         enabled: true
      livereload:
         enabled: true

   thymeleaf:
      cache: false

server:
   port: 8080

logging:
   pattern:
      console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"
   level:
      root: info

---
# Production Configuration
spring:
   config:
      activate:
         on-profile: production

   thymeleaf:
      cache: true

server:
   port: 80

logging:
   pattern:
      file: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"
   logback:
      rollingpolicy:
         file-name-pattern: "logs/${spring.application.name}.%d{yyyy-MM-dd}.%i.log.zip"
         max-file-size: 10MB
         max-history: 10
   file:
      name: logs/${spring.application.name}.log
   level:
      tabbox:
         exception: ERROR

---
# Common Configuration
spring:
   mvc:
      static-path-pattern: /assets/**

   web:
      resources:
         static-locations: [classpath:assets/]

   thymeleaf:
      check-template-location: true
      enable-spring-el-compiler: true
      mode: HTML
      prefix: classpath:/templates/
      suffix: .html
      encoding: UTF-8

server:
   servlet:
      context-path: /
   error:
      whitelabel:
         enabled: false
      path: /error